<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-room-heading" jhiTranslate="facilityApp.room.home.createOrEditLabel">Create or edit a Room</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="facilityApp.room.roomNumber" for="field_roomNumber">Room Number</label>
                    <input type="number" class="form-control" name="roomNumber" id="field_roomNumber"
                           formControlName="roomNumber"/>
                    <div *ngIf="editForm.get('roomNumber')!.invalid && (editForm.get('roomNumber')!.dirty || editForm.get('roomNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roomNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('roomNumber')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="facilityApp.room.floor" for="field_floor">Floor</label>
                    <input type="number" class="form-control" name="floor" id="field_floor"
                           formControlName="floor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="facilityApp.room.numberOfBed" for="field_numberOfBed">Number Of Bed</label>
                    <input type="number" class="form-control" name="numberOfBed" id="field_numberOfBed"
                           formControlName="numberOfBed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="facilityApp.room.capacity" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                           formControlName="capacity"/>
                </div>

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="facilityApp.room.creationDate" for="field_creationDate">Creation Date</label>-->
<!--                    <div class="d-flex">-->
<!--                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="facilityApp.room.modificationDate" for="field_modificationDate">Modification Date</label>-->
<!--                    <div class="d-flex">-->
<!--                        <input id="field_modificationDate" type="datetime-local" class="form-control" name="modificationDate" formControlName="modificationDate" placeholder="YYYY-MM-DD HH:mm"/>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="facilityApp.room.facility" for="field_facility">Facility</label>
                    <select class="form-control" id="field_facility" name="facility" formControlName="facility">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facilityOption.id === editForm.get('facility')!.value?.id ? editForm.get('facility')!.value : facilityOption" *ngFor="let facilityOption of facilities; trackBy: trackById">{{ facilityOption.description }}</option>
                    </select>
                </div>

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="facilityApp.room.user" for="field_user">User</label>-->
<!--                    <select class="form-control" id="field_user" name="user" formControlName="user">-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
