<div>
    <h2 id="page-heading">
        <span jhiTranslate="facilityApp.facility.home.title">Facilities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facility" [routerLink]="['/facility/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="facilityApp.facility.home.createLabel">
            Create a new Facility
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="facilities?.length === 0">
        <span jhiTranslate="facilityApp.facility.home.notFound">No facilities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facilities && facilities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="facilityApp.facility.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="area"><span jhiTranslate="facilityApp.facility.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="facilityApp.facility.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modificationDate"><span jhiTranslate="facilityApp.facility.modificationDate">Modification Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facility of facilities ;trackBy: trackId">
                    <td><a [routerLink]="['/facility', facility.id, 'view']">{{ facility.id }}</a></td>
                    <td>{{ facility.description }}</td>
                    <td>{{ facility.area }}</td>
                    <td>{{ facility.quantity }}</td>
                    <td>{{ facility.modificationDate | date:'medium' }}</td>
<!--                    <td>-->
<!--                        {{ facility.user?.login }}-->
<!--                    </td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/facility', facility.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/facility', facility.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(facility)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="facilities && facilities.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
